{% extends 'dashboard/auth/page.html' %}

{% block content %}
	<div class="container d-flex flex-column h-100">
		<div class="row align-items-center justify-content-center no-gutters h-100">
			<div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
				<h1 class="font-bold text-center">Reset Password</h1>
				<p class="text-center mb-6">Please enter the email address you used to sign up below.</p>
				<form id="forgotPasswordForm" class="mb-6" autocomplete="off" novalidate>
					<div class="form-group">
						<input id="email" class="form-control form-control-lg" name="email" type="email" placeholder="Enter your Email" minlength="5" maxlength="127" required>
					</div>
					<button class="btn btn-lg btn-block btn-primary" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}

{% block body %}
	<script type="application/javascript" nonce="{{ csp_nonce() }}" defer>
		let form = $("#forgotPasswordForm");
        $(form).on('submit', function (e) {
            e.preventDefault();

            $(this).find('.is-invalid').removeClass('is-invalid');
            let invalids = $(this).find('*:invalid');
            if (invalids.length > 0) {
                invalids.addClass('is-invalid')[0].reportValidity();
                return;
            }

            let data = {};
            $.each($(this).find(':input'), function (i, e) {
                if ($(e).val()) {
                    data[$(e).attr('name')] = $(e).fval();
                }
            });

            $.ajax({
                data: JSON.stringify(data),
                contentType: "application/json",
                type: 'POST',
                url: '{{ url_for('api.auth.forgot_password') }}',
            }).done(function (response, status, xhr) {
                notyf.success(response.description);
                form.trigger("reset");
                setTimeout(function () {
                    window.location = '{{ url_for('dashboard.login') }}';
                }, 7000);
            }).fail(function (xhr, status, e) {
                console.log(xhr);
                notyf.error(xhr.responseJSON.description);
            });
        });
	</script>
{% endblock body %}