{% extends 'dashboard/auth/page.html' %}

{% block content %}
	<div class="container d-flex flex-column h-100">
		<div class="row align-items-center justify-content-center no-gutters h-100">
			<div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
				{% set claims = User.verify_reset_token(token) %}
				{% if claims and User.get_by(first=True, uid=claims.get('sub')) %}
					<div id="pendingReset">
						<h1 class="font-bold text-center">Reset Password</h1>
						<p class="text-center mb-6">Please enter your new password below</p>
						<form id="resetPasswordForm" class="mb-6" novalidate>
							<div class="form-group">
								<input id="password" class="form-control form-control-lg" name="password" type="password" placeholder="New Password" minlength="8" maxlength="30" required>
							</div>
							<div class="form-group">
								<input id="confirmPassword" class="form-control form-control-lg" type="password" placeholder="Confirm Password" minlength="8" maxlength="30" required>
							</div>
							<button class="btn btn-lg btn-block btn-primary" type="submit">Submit</button>
						</form>
					</div>
					<div id="successfulReset" class="d-none">
						<h1 class="font-bold text-center">Password Successfully Reset</h1>
						<p class="text-center mb-6">You will be redirected to the login page shortly.</p>
					</div>
				{% else %}
					<h1 class="font-bold text-center">Oops!</h1>
					<h1 class="text-center">Looks like you've reached an invalid or expired link.</h1>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}

{% block body %}
	<script type="application/javascript" defer>
        $(document).on('submit', '#resetPasswordForm', function (e) {
            e.preventDefault();

            $(this).find('.is-invalid').removeClass('is-invalid');
            let invalids = $(this).find('*:invalid');
            if (invalids.length > 0) {
                invalids.addClass('is-invalid')[0].reportValidity();
                return;
            }

            if ($('#password').val() !== $('#confirmPassword').val()) {
                notyf.error('Entered passwords do not match!');
                return
            }

            let data = {token: '{{ token }}'};
            $.each($(this).find(':input'), function (i, e) {
                if ($(e).val()) {
                    data[$(e).attr('name')] = $(e).fval();
                }
            });

            $.ajax({
                data: JSON.stringify(data),
                contentType: "application/json",
                type: 'POST',
                url: '{{ url_for('api.auth.reset_password') }}',
            }).done(function (response, status, xhr) {
                notyf.success(response.description);
                $('#pendingReset').addClass('d-none');
                $('#successfulReset').removeClass('d-none');
                setTimeout(function () {
                    window.location = '{{ url_for('dashboard.login') }}';
                }, 3000);
            }).fail(function (xhr, status, e) {
                console.log(xhr);
                notyf.error(xhr.responseJSON.description);
            });
        });
	</script>
{% endblock body %}