{% extends 'site/templates/page.html' %}

{% block head %}
	<style>
        .navbar-top.navbar-dark {
            background-color: #17161A !important;
        }
	</style>
{% endblock head %}

{% block content %}
	<div class="content-wrap">
		<div class="pt-50 pb-70 footerPrev videoNext shape-parent overflow-hidden">
			<div class="container pt-50">
				<div class="row my-50">
					<div class="col-lg-6 offset-lg-3 text-center">
						<h3 class="m-0" data-show="startbox">{{ title }}</h3>
					</div>
				</div>
			</div>
			<div class="container">
				<p class="mb-10">
					Logos, photos, content, icons, slogans, audio clips, video clips, mission statements and other
					materials present on the Website (https://www.kumbalgoduayyappatemple.org/) are the intellectual
					property assets of “Sree Dharmashasta Ayyappa Religious Trust ®”. Users are requested not to copy
					any material for any use, including personal or commercial use without the permission of the Sree
					Dharmashasta Ayyappa Religious Trust ®. Any copyright infringement will be dealt with according to
					the Copyright Law of India.
				</p>
				<p class="mb-10">
					The Sree Dharmashasta Ayyappa Religious Trust ® has taken due care to ensure that the Website is
					devoid of any kind of copyright work of others. However, if any copyright protected material is
					present on the Website, then the concerned copyright holder of such work shall email to the Sree
					Dharmashasta Ayyappa Religious Trust ®at contact@kumbalgoduayyappatemple.org. Such materials will be
					quickly removed from the Website.
				</p>
				<p class="mb-10">
					Website users or other parties are requested not to run any fundraising marketing campaign across
					the web on the behalf of Sree Dharmashasta Ayyappa Religious Trust ®. Collecting donations for
					personal gains using the mission statement of the Sree Dharmashasta Ayyappa Religious Trust ® is
					strictly prohibited. Any such acts shall breach intellectual property rights of the Charitable
					Trust.
				</p>
			</div>
		</div>
	</div>
{% endblock content %}
