{% extends 'site/templates/page.html' %}

{% block head %}
	<style>
        .navbar-top.navbar-dark {
            background-color: #17161A !important;
        }
	</style>
{% endblock head %}

{% block content %}
	<div class="content-wrap">
		<div class="pt-50 pb-70 footerPrev videoNext shape-parent overflow-hidden">
			<div class="container pt-50">
				<div class="row my-50">
					<div class="col-lg-6 offset-lg-3 text-center">
						<h3 class="m-0" data-show="startbox">{{ title }}</h3>
					</div>
				</div>
			</div>
			<div class="container">
				<h5 class="mb-15">Use of Content</h5>
				<p class="mb-10">
					All logos, images, headings, labels, names, audio clips, videos, signatures, numerals, shapes or any
					combinations thereof, appearing in this website, except as otherwise noted, are properties either
					owned or used under licence, by the Charitable Trust. The use of these properties or any other
					content on this website, except as provided in these terms and conditions or in the content, is
					strictly prohibited.
				</p>
				<p class="mb-15">
					You may not sell or modify the content of this website or reproduce, display, publicly perform,
					distribute, or otherwise use the materials in any way for any public or commercial purpose without
					the permission of Charity Organization.
				</p>
				<h5 class="mb-15">Acceptable Use</h5>
				<ul class="mb-15">
					<li>Security Rules: Visitors are prohibited from violating or attempting to violate the security of
						the Charity Organization’s website, including, without limitation, (1) accessing data not
						intended for such user or logging into a server or account which the user is not authorized to
						access, (2) attempting to probe, scan or test the vulnerability of a system or network or to
						breach security or authentication measures without proper authorization, (3) attempting to
						interfere with service to any user, host or network, including, without limitation, via means of
						submitting a virus or “Trojan horse” to the , overloading, “flooding”, “mail bombing” or
						“crashing”, or (4) sending unsolicited electronic mail, including promotions and/or advertising
						of products or services. Violations of system or network security may result in civil or
						criminal liability. The Charity Organization will have the right to investigate occurrences that
						they suspect as involving such violations and will have the right to involve and cooperate with
						law enforcement authorities in prosecuting users who are involved in such violations.
					</li>
					<li>General Rules: Visitors may not use the website in order to transmit, distribute, store or
						destroy material (a) that could constitute or encourage conduct that would be considered a
						criminal offence or violate any applicable law or regulation, (b) in a manner that will infringe
						the copyright or other intellectual property rights of others or violate the privacy or
						publicity of personal rights of others, or (c) that is libelous, defamatory, pornographic,
						profane, obscene, threatening, abusive or hateful.
					</li>
					<li>Use of the Integrated Payment Gateway for Giving Donations to the Sree Dharmashasta Ayyappa
						Religious Trust ®. If you are making donations to the Trust through the integrated Payment
						Gateway, you understand that the payment gateway is provided by a third party (Razorpay) and
						governed by the terms and conditions provided by such third party. You are liable in the event
						you violate any of the terms and conditions of such third parties in making your donations.
						Charity Organization shall not be responsible for any such errors or default in making your
						donations.
					</li>
				</ul>
				<h5 class="mb-10">DISCLAIMER OF CONSEQUENTIAL DAMAGES</h5>
				<p class="mb-10">
					In no event shall Charitable Trust or any parties, organizations or entities associated with the
					social welfare activities, mentioned at this website shall be liable for any damages whatsoever
					(including, without limitations, incidental and consequential damages, lost profits, or damage to
					computer hardware or loss of data information or business interruption) resulting from the use or
					inability to use the website and the website material.
				</p>
			</div>
		</div>
	</div>
{% endblock content %}
