{% extends 'site/templates/page.html' %}

{% set poojas = Pooja.all() %}
{% set temples = Pooja.query.with_entities(Pooja.temple).all()|unique|list %}

{% block head %}
	<style>
        .navbar-top.navbar-dark {
            background-color: #17161A !important;
        }
	</style>
{% endblock head %}

{% block content %}
	<!-- ========== Pooja Form ============= -->
	<div class="content-wrap">
		<div class="pt-50 pb-70 footerPrev videoNext shape-parent overflow-hidden">
			<div class="container">
				<div class="row my-30">
					<div class="col-lg-6 offset-lg-3 text-center">
						<h3 class="m-0"><span class="highlight-lg">Book Pooja</span></h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mx-0">
						<ul id="progressbar" class="text-center">
							<li id="pooja" class="active"><strong>Pooja Details</strong></li>
							<li id="personal"><strong>Personal Details</strong></li>
							<li id="payment"><strong>Payment Details</strong></li>
						</ul>
						<form id="poojaForm" autocomplete="off" novalidate>
							<div class="row gy-40 mb-50">
								<h4 class="w-100 text-center mb-2">Pooja Details</h4>
								<div class="col-12 col-md-6">
									<select id="templeSelect" class="form-control" type="text" required>
										<option selected value="">Select Temple *</option>
										{% for temple in temples %}
											<option value="{{ temple[0].replace(' ', '_') }}">{{ temple[0] }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-12 col-md-6">
									<select class="form-control" name="pooja_id" type="integer" required>
										<option selected value="">Select Pooja *</option>
										{% for pooja in poojas %}
											<option class="pooja {{ pooja.temple.replace(' ', '_') }} d-none" value="{{ pooja.id }}" data-pooja="{{ pooja.name }}" data-amount="{{ pooja.amount }}">
												{{ pooja.name }} - ₹{{ pooja.amount|int|inr_format }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-12 col-lg-12 text-center">
								<input type="submit" class="next btn btn-accent-3 text-white" value="Next">
							</div>
						</form>
						<form id="personalForm" class="d-none" autocomplete="off" novalidate>
							<div class="row gy-40 mb-50">
								<h4 class="w-100 text-center mb-2">Personal Details</h4>
								<div class="col-12 col-md-6">
									<input class="form-control" name="name" type="text" placeholder="Full Name *" maxlength="128" required>
								</div>
								<div class="col-12 col-md-6">
									<input class="form-control" name="phone" type="text" placeholder="Phone Number *" maxlength="14" required>
								</div>
								<div class="col-12 col-md-6">
									<input class="form-control" name="email" type="email" placeholder="Email" maxlength="128">
								</div>
								<div class="col-12 col-md-6">
									<input class="form-control" name="gotra" type="text" placeholder="Gotra" maxlength="128">
								</div>
								<div class="col-12 col-md-6">
									<input class="form-control" name="nakshatra" type="text" placeholder="Nakshatra" maxlength="128">
								</div>
							</div>
							<div class="col-12 col-lg-12 text-center">
								<input type="submit" class="next btn btn-accent-3 text-white" value="Next">
							</div>
						</form>
						<form id="paymentForm" class="d-none" autocomplete="off" novalidate>
							<div class="row gy-40 mb-50">
								<h4 class="w-100 text-center mb-2">Summary</h4>
								<div class="col-12 text-center">
									<p class="mb-10">Temple Name: <span id="templeName"></span></p>
									<p class="mb-10">Pooja: <span id="poojaName"></span></p>
									<p class="mb-10">Amount to be paid: ₹<span id="finalAmount"></span></p>
								</div>
							</div>
							<div class="col-12 col-lg-12 text-center">
								<button id="payBtn" class="next btn btn-accent-3 text-white">
									Pay Now
								</button>
							</div>
						</form>
					</div>
				</div>
				<div id="paymentSuccess" class="d-none">
					<div class="d-flex flex-column justify-content-center align-items-center">
						<i class="fal fa-check-circle my-20" style="font-size: 5rem"></i>
						<h3 class="text-success my-5">Payment Successful!</h3>
						<p>Lorem ipsum dolor sit amet.</p>
						<button type="button" class="next btn btn-accent-3 text-white" value="Next">
							Download Receipt
						</button>
					</div>
				</div>
				<div id="paymentFailed" class="d-none">
					<div class="d-flex flex-column justify-content-center align-items-center">
						<i class="fal fa-circle-xmark my-20" style="font-size: 5rem"></i>
						<h3 class="text-danger my-5">Payment Failed!</h3>
						<p>Please contact support</p>
						<a href="{{ url_for('site.index') }}" class="next btn btn-accent-3 text-white">
							Back to Home
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ========== End Pooja Form ============= -->
{% endblock content %}

{% block body %}
	<script type="application/javascript" src="{{ url_for('static', filename='js/razorpay.js') }}"></script>
	<script type="application/javascript" defer nonce="{{ csp_nonce() }}">
        $("#templeSelect").on('change', function () {
            $('.pooja').addClass('d-none').prop('disabled', true).prop('selected', false);
            $(`.${$(this).val()}`).removeClass('d-none').prop('disabled', false);
        });

        let data = {};
		let order_id = null;

        $(document).on('submit', '#poojaForm', function (e) {
            e.preventDefault();

            $(this).find('.is-invalid').removeClass('is-invalid');
            let invalids = $(this).find('*:invalid');
            if (invalids.length > 0) {
                invalids.addClass('is-invalid')[0].reportValidity();
                return;
            }
            $.each($(this).find(':input'), function (i, e) {
                if ($(e).val()) {
                    data[$(e).attr('name')] = $(e).fval();
                }
            });
            $('#personal').addClass('active');
            $(this).addClass('d-none');
            $('#personalForm').removeClass('d-none');
        });
        $(document).on('submit', '#personalForm', function (e) {
            e.preventDefault();

            $(this).find('.is-invalid').removeClass('is-invalid');
            let invalids = $(this).find('*:invalid');
            if (invalids.length > 0) {
                invalids.addClass('is-invalid')[0].reportValidity();
                return;
            }
            $.each($(this).find(':input'), function (i, e) {
                if ($(e).val()) {
                    data[$(e).attr('name')] = $(e).fval();
                }
            });

            let selectedPooja = $('[name=pooja_id]').find(':selected');
            let amount = parseFloat(selectedPooja.data('amount'));
            $('#templeName').text($('#templeSelect :selected').text());
            $('#poojaName').text(selectedPooja.data('pooja'));
            $('#finalAmount').text(amount);

			$.ajax({
                data: JSON.stringify({amount: amount}),
                contentType: "application/json",
                type: 'POST',
                url: '{{ url_for('api.admin.create_order') }}',
            }).done(function (response, status, xhr) {
                order_id = response.data.order_id;

                let options = {
                    "key": "{{ config['RAZORPAY_KEY'] }}",
				    "order_id": order_id,
				    "handler": function (response) {
                        onPaymentSuccess(response);
				    },
				    "prefill": {
				        "name": data.name,
				        "email": data.email ? data.email : 'test@test.com',
				        "contact": data.phone
				    },
                }
                let rz = new Razorpay(options);
                rz.on('payment.failed', function (response){
				    $('#paymentForm').addClass('d-none');
                    $('#paymentFailed').removeClass('d-none');
				});

                $('#payBtn').on('click', function (e) {
                    rz.open();
                    e.preventDefault();
                });

                $('#personalForm').addClass('d-none');
	            $('#payment').addClass('active');
	            $('#paymentForm').removeClass('d-none');
            }).fail(function (xhr, status, e) {
                console.log(xhr);
                notyf.error(xhr.responseJSON.description);
            });
        });

        function onPaymentSuccess(response) {
            data['payment_details'] = {'razorpay_payment_id': response.razorpay_payment_id, 'razorpay_order_id': response.razorpay_order_id, 'razorpay_signature': response.razorpay_signature};
            $.ajax({
                data: JSON.stringify(data),
                contentType: "application/json",
                type: 'POST',
                url: '{{ url_for('api.admin.booking') }}',
            }).done(function (response, status, xhr) {
                $('#paymentForm').addClass('d-none');
                $('#paymentSuccess').removeClass('d-none');
                console.log('success');
            }).fail(function (xhr, status, e) {
                console.log(xhr);
                notyf.error(xhr.responseJSON.description);
            });
        }
	</script>
{% endblock body %}
