{% extends 'site/templates/page.html' %}

{% set poojas = Pooja.all() %}
{% set temples = Pooja.query.with_entities(Pooja.temple).all()|unique|list %}
{% set user = current_user() %}

{% block head %}
	<style>
        .navbar-top.navbar-dark {
            background-color: #17161A !important;
        }
	</style>
{% endblock head %}

{% block content %}
	<!-- ========== Pooja Form ============= -->
	<div class="content-wrap">
		<div class="pt-50 pb-70 footerPrev videoNext shape-parent overflow-hidden">
			<div class="container">
				<div class="row my-30">
					<div class="col-lg-6 offset-lg-3 text-center">
						<h3 class="m-0"><span class="highlight-lg">Book Pooja</span></h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mx-0">
						<ul id="progressbar" class="text-center">
							<li id="pooja" class="active"><strong>Pooja Details</strong></li>
							<li id="personal"><strong>Personal Details</strong></li>
							<li id="payment"><strong>Payment Details</strong></li>
						</ul>
						<form id="poojaForm" autocomplete="off" novalidate>
							<div class="row gy-40 mb-50">
								<h4 class="w-100 text-center mb-2">Pooja Details</h4>
								<div class="col-12 col-md-6">
									<select id="templeSelect" class="form-control" type="text" name="temple" required>
										<option selected value="">Select Temple *</option>
										{% for temple in temples %}
											<option value="{{ temple[0].replace(' ', '_') }}">{{ temple[0] }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-12 col-md-6">
									<select class="form-control" name="pooja_id" type="integer" required>
										<option selected disabled value="">Select Pooja *</option>
									</select>
								</div>
								<div class="col-12 col-md-6 form-floating">
									<input class="form-control" name="start_date" type="date" placeholder="Start Date *">
									<label class="form-floating-label">Start Date *</label>
								</div>
								<div class="col-12 col-md-6 form-floating">
									<input class="form-control" name="number" type="number" placeholder="No. Of Poojas *" value="1">
									<label class="form-floating-label">No. Of Poojas *</label>
								</div>
							</div>
							<div class="col-12 col-lg-12 text-center">
								<button class="next btn btn-accent-3 text-white" type="submit">Next</button>
							</div>
						</form>
						<form id="personalForm" class="d-none" autocomplete="off" novalidate>
							<div class="row gy-40 mb-50">
								<h4 class="w-100 text-center mb-2">Personal Details</h4>
								<div class="col-12 col-md-6 form-floating">
									<input class="form-control" name="name" type="text" placeholder="Full Name *" maxlength="128" required>
									<label class="form-floating-label">Full Name *</label>
								</div>
								<div class="col-12 col-md-6 form-floating">
									<input class="form-control" name="phone" type="text" placeholder="Phone Number *" maxlength="10" data-mask="0000000000" required>
									<label class="form-floating-label">Phone Number *</label>
								</div>
								<div class="col-12 col-md-6 form-floating">
									<input class="form-control" name="email" type="email" placeholder="Email" maxlength="128">
									<label class="form-floating-label">Email</label>
								</div>
								<div class="col-12 col-md-6 form-floating">
									<input class="form-control" name="gotra" type="text" placeholder="Gotra" maxlength="128">
									<label class="form-floating-label">Gotra</label>
								</div>
								<div class="col-12 col-md-6 form-floating">
									<input class="form-control" name="nakshatra" type="text" placeholder="Nakshatra" maxlength="128">
									<label class="form-floating-label">Nakshatra</label>
								</div>
							</div>
							<div class="d-flex justify-content-center">
								<div class="mx-10 text-center">
									<button id="backPersonal" class="btn" type="button" style="border: 2px solid #FFA800; border-radius: 30px">Back</button>
								</div>
								<div class="mx-10 text-center">
									<button class="next btn btn-accent-3 text-white" type="submit">Next</button>
								</div>
							</div>
						</form>
						<form id="paymentForm" class="d-none" autocomplete="off" novalidate>
							<div class="row gy-40 mb-50">
								<h4 class="w-100 text-center mb-2">Summary</h4>
								<div class="col-lg-8 d-flex flex-column justify-content-center mx-auto">
									<table class="table table-bordered pooja-summary-table mb-0">
										<tr>
											<td><b>Temple Name:</b></td>
											<td><span id="templeName"></span></td>
										</tr>
										<tr>
											<td><b>Pooja: </b></td>
											<td><span id="poojaName"></span></td>
										</tr>
										<tr>
											<td><b>Dates: </b></td>
											<td><span id="poojaDates"></span></td>
										</tr>
										<tr>
											<td><b>Amount to be paid: </b></td>
											<td>₹<span id="finalAmount"></span></td>
										</tr>
									</table>
								</div>
							</div>
							<div class="d-flex justify-content-center">
								<div class="mx-10 text-center">
									<button class="btn backPayment" type="button" style="border: 2px solid #FFA800; border-radius: 30px">Back</button>
								</div>
								<div class="mx-10 text-center">
									<button id="submitBtn" class="next btn btn-accent-3 text-white">
										<div id="submitSpinner" class="spinner-border spinner-border-sm me-2 d-none" role="status"></div>
										Pay Now
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div id="paymentSuccess" class="d-none">
					<div class="d-flex flex-column justify-content-center align-items-center">
						<i class="fal fa-check-circle my-20" style="font-size: 5rem"></i>
						<h3 class="text-success my-5">Payment Successful!</h3>
						<a id="receiptDownloadBtn" class="next btn btn-accent-3 text-white mt-30" href="#" target="_blank">
							Download Receipt
						</a>
					</div>
				</div>
				<div id="paymentFailed" class="d-none">
					<div class="d-flex flex-column justify-content-center align-items-center">
						<i class="fal fa-circle-xmark my-20" style="font-size: 5rem"></i>
						<h3 class="text-danger my-5">Payment Failed!</h3>
						<p>Please contact support</p>
						<a href="{{ url_for('site.index') }}" class="next btn btn-accent-3 text-white">
							Back to Home
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ========== End Pooja Form ============= -->
{% endblock content %}

{% block body %}
	<script type="application/javascript" src="{{ url_for('static', filename='js/razorpay.js') }}"></script>

	<script type="application/javascript" defer>
		let templeSelect = $("#templeSelect");
        let poojaSelect = $('[name=pooja_id]');
		let start_date = $('[name=start_date]');
        let days = $('[name=number]');
        let submitBtn = $('#submitBtn');
        let submitSpinner = $('#submitSpinner');

		let data = {};
        let validDates = [];

        let min_start_date = moment(){% if not user %}.add(36, 'hours'){% endif %}.format('YYYY-MM-DD');
        start_date.prop('min', min_start_date).val(min_start_date);

        let poojaOptions = [
            {% for pooja in poojas %}
				`<option class="pooja {{ pooja.temple.replace(' ', '_') }}" value="{{ pooja.id }}" data-pooja="{{ pooja.name }}" data-amount="{{ pooja.amount }}" data-specific="{{ 'true' if pooja.specific else 'false' }}" data-dates="{{ pooja.bookable_dates()|tojson }}">
					{{ pooja.name }} - ₹{{ pooja.amount|int|inr_format }}
				</option>`,
			{% endfor %}]

        templeSelect.on('change', function () {
            $('.pooja').remove();
            let selectedTemple = $(this).val();
            $.each(poojaOptions, function (i, pooja) {
                if ($(pooja).hasClass(selectedTemple)) {
                    poojaSelect.append($(pooja));
                }
            });
        });
        $(document).on('change', '[name=pooja_id], [name=start_date], [name=number]', function () {
            let selected = poojaSelect.find(':selected');
            let selected_start_date = moment(start_date.val(), 'YYYY-MM-DD');
            let number = days.fval();

            $('#templeName').text(templeSelect.fval());
            $('#poojaName').text(selected.data('pooja'));
            $('#finalAmount').text(parseFloat(poojaSelect.find(':selected').data('amount') * days.fval()));

            validDates = [];
            if (selected.data('specific')) {
                let dates = selected.data('dates');
                $.each(dates, function (i, date) {
                    if(moment(date).isSameOrAfter(selected_start_date)) {
                        validDates.push(moment(date).valueOf());
                    }
                });
                if (validDates.length<=0) {
                    notyf.error({message: 'No available dates after your start date. Please contact temple management!', duration: 5000});
                }
                days.prop('min', '1').prop('max', validDates.length);
            } else {
                days.prop('min', '1').prop('max', '');
                validDates.push(selected_start_date.valueOf());
                for(let i=1; i<number; i++) {
                    validDates.push(moment(selected_start_date).add(i, 'days').valueOf());
                }
            }
            let formatedDates = validDates.map(function (e) {return moment(e).format('DD/MM/YYYY')});
            $('#poojaDates').text(formatedDates.slice(0, number).join(', '));
        });

        $(document).on('click', '#backPersonal', function () {
            $('#personal').removeClass('active');
            $('#poojaForm').removeClass('d-none');
            $('#personalForm').addClass('d-none');
        });

        $(document).on('click', '.backPayment', function () {
            $('#personalForm').removeClass('d-none');
            $('#payment').removeClass('active');
            $('#paymentForm').addClass('d-none');
        });

        $(document).on('submit', '#poojaForm', function (e) {
            e.preventDefault();

            $(this).find('.is-invalid').removeClass('is-invalid');
            let invalids = $(this).find('*:invalid');
            if (invalids.length > 0) {
                invalids.addClass('is-invalid')[0].reportValidity();
                return;
            }
            data = {};
            $.each($(this).find(':input'), function (i, e) {
                if ($(e).val()) {
                    data[$(e).attr('name')] = $(e).fval();
                }
            });

            data['amount'] = parseFloat(poojaSelect.find(':selected').data('amount') * days.fval());
            delete data['temple'];

            $('#personal').addClass('active');
            $(this).addClass('d-none');
            $('#personalForm').removeClass('d-none');
        });

        $(document).on('submit', '#personalForm', function (e) {
            e.preventDefault();

            $(this).find('.is-invalid').removeClass('is-invalid');
            let invalids = $(this).find('*:invalid');
            if (invalids.length > 0) {
                invalids.addClass('is-invalid')[0].reportValidity();
                return;
            }
            $.each($(this).find(':input'), function (i, e) {
                if ($(e).val()) {
                    data[$(e).attr('name')] = $(e).fval();
                }
            });

            $('#personalForm').addClass('d-none');
            $('#payment').addClass('active');
            $('#paymentForm').removeClass('d-none');
        });

        $(document).on('submit', '#paymentForm', function (e) {
            e.preventDefault();

            submitBtn.prop('disabled', true);
            submitSpinner.removeClass('d-none');

            $.ajax({
                data: JSON.stringify({amount: data.amount}),
                contentType: "application/json",
                type: 'POST',
                url: '{{ url_for('api.admin.create_order') }}',
            }).done(function (response, status, xhr) {
                let options = {
                    "key": "{{ config['RAZORPAY_KEY'] }}",
				    "order_id": response.data.order_id,
				    "handler": function (response) {
                        onPaymentSuccess(response);
				    },
				    "prefill": {
				        "name": data.name,
				        "email": data.email ? data.email : 'kumbalgoduayyappatemple@gmail.com',
				        "contact": data.phone
				    },
                }
                let rz = new Razorpay(options);
                rz.on('payment.failed', function (response){
				    $('#paymentForm').addClass('d-none');
                    $('#paymentFailed').removeClass('d-none');
				});
                rz.open();
                submitBtn.prop('disabled', false);
                submitSpinner.addClass('d-none');
            }).fail(function (xhr, status, e) {
                console.log(xhr);
                notyf.error(xhr.responseJSON.description);
                submitBtn.prop('disabled', false);
                submitSpinner.addClass('d-none');
            });
        });

        function onPaymentSuccess(response) {
            delete data['start_date']
			delete data['number']
			data['payment_details'] = {'razorpay_payment_id': response.razorpay_payment_id, 'razorpay_order_id': response.razorpay_order_id, 'razorpay_signature': response.razorpay_signature};
			data['days'] = validDates;
            {% if user %}data['booked_by_id'] = {{ user.id }};{% endif %}

            $.ajax({
                data: JSON.stringify(data),
                contentType: "application/json",
                type: 'POST',
                url: '{{ url_for('api.admin.booking') }}',
            }).done(function (response, status, xhr) {
                $('#paymentForm').addClass('d-none');
                $('#paymentSuccess').removeClass('d-none');
                $('#receiptDownloadBtn').attr('href',`/pooja-receipt/${response.data.uid}`)
            }).fail(function (xhr, status, e) {
                console.log(xhr);
                notyf.error(xhr.responseJSON.description);
            });
        }
	</script>
{% endblock body %}
