{% extends 'site/templates/page.html' %}

{% block head %}
	<style>
        .navbar-top.navbar-dark {
            background-color: #17161A !important;
        }
	</style>
{% endblock head %}

{% block content %}

	<div class="content-wrap">
		<div class="pt-50 pb-70 footerPrev videoNext shape-parent overflow-hidden">
			<div class="container">
				<div class="row my-50">
					<div class="col-lg-6 offset-lg-3 text-center">
						<h3 class="m-0" data-show="startbox"><span class="highlight-lg">Donation</span></h3>
					</div>
				</div>
				<form id="form" class="animated" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;" data-show="startbox" autocomplete="off" novalidate>
					<div class="row gy-40">
						<div class="col-12 col-md-6">
							<input class="form-control" name="name" type="text" placeholder="Full Name *" maxlength="128" required>
						</div>
						<div class="col-12 col-md-6">
							<input class="form-control" name="phone" type="text" placeholder="Phone Number *" maxlength="14" required>
						</div>
						<div class="col-12 col-md-6">
							<input class="form-control" name="email" type="email" placeholder="Email" maxlength="128">
						</div>
						<div class="col-12 col-md-6">
							<input class="form-control" type="text" placeholder="Aadhaar/PAN" maxlength="14">
						</div>
						<div class="col-12 col-md-6">
							<select class="form-control" name="type" type="text" required>
								<option selected value="">Donation Type *</option>
								<option>Nitya Seva</option>
								<option>Ghoshala Fund</option>
								<option>Annadaana Fund</option>
								<option>Building Fund</option>
							</select>
						</div>
						<div class="col-12 col-md-6">
							<input class="form-control" name="amount" type="number" placeholder="Donation Amount *" required>
						</div>
						<div class="col-12 col-md-6 col-lg-4">
							<p class="mb-15">Donation Type:</p>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="recurring" required>
								<label class="form-check-label">One-Time</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="recurring" required checked>
								<label class="form-check-label">Recurring</label>
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-4">
							<p class="mb-15">Recurring Interval:</p>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="recurring_interval" checked>
								<label class="form-check-label">Monthly</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="recurring_interval">
								<label class="form-check-label">Quarterly</label>
							</div>
						</div>
						<div class="col-12 col-lg-12 text-center">
							<button class="btn btn-accent-3 text-white">Send</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}

{% block body %}
	<script type="application/javascript" nonce="{{ csp_nonce() }}" defer>
        $(document).on('submit', '#form', function (e) {
            e.preventDefault();

            $(this).find('.is-invalid').removeClass('is-invalid');
            let invalids = $(this).find('*:invalid');
            if (invalids.length > 0) {
                invalids.addClass('is-invalid')[0].reportValidity();
                return;
            }

            let data = {};
            $.each($(this).find(':input'), function (i, e) {
                if ($(e).attr('name')) {
                    data[$(e).attr('name')] = $(e).fval();
                }
            });

            $.ajax({
                data: JSON.stringify(data),
                contentType: "application/json",
                type: 'POST',
                url: '/',
            }).done(function (response, status, xhr) {
                location.reload();
            }).fail(function (xhr, status, e) {
                console.log(xhr);
                notyf.error(xhr.responseJSON.description);
            });
        });
	</script>
{% endblock body %}
