{% extends 'site/templates/page.html' %}

{% block head %}
	<style>
        .navbar-top.navbar-dark {
            background-color: #17161A !important;
        }
	</style>
{% endblock head %}

{% block content %}
	<div class="content-wrap">
		<div class="pt-50 pb-70 footerPrev videoNext shape-parent overflow-hidden">
			<div class="container pt-50">
				<div class="row my-50">
					<div class="col-lg-6 offset-lg-3 text-center">
						<h3 class="m-0" data-show="startbox">{{ title }}</h3>
					</div>
				</div>
			</div>
			<div class="container">
				<p class="mb-10">
					The information contained in this website (https://www.kumbalgoduayyappatemple.org/) is for general
					information purposes only. The Sree Dharmashasta Ayyappa Religious Trust ® has taken reasonable
					steps in presenting accurate information on this website. However, no warranty or representation is
					extended to the User that the information and audio/video materials present on the website are free
					from errors or inaccuracies. To the extent allowed by relevant laws of India, the Sree Dharmashasta
					Ayyappa Religious Trust ® holds no accountability for any direct, indirect or consequential damages
					resulting from the access to and use of this website and the information contained on it.
				</p>
				<p class="mb-10">
					The Sree Dharmashasta Ayyappa Religious Trust ® has ensured that the payment gateway integrated into
					this website (3rd party) gives a simple, quick and secure transaction experience to the User.
					However, in case of any error/issue like transaction failure, cyber fraud or any other problem, the
					Sree Dharmashasta Ayyappa Religious Trust ® shall not be held responsible for any monetary or any
					kind of damage to the User. The User agrees that once the User has authorized a transaction, it
					shall be irrevocable and the User shall not revoke or stop any such transaction.
				</p>
				<p class="mb-10">
					Some of the hyperlinks to other websites may require Users to leave this website of Sree
					Dharmashasta Ayyappa Religious Trust ®. The linked websites are not under the control of Sree
					Dharmashasta Ayyappa Religious Trust ® and therefore it shall not be held accountable for the
					contents of any linked website or any link contained in a linked website, or any changes or updates
					that happen to such websites in the future. It is the sole responsibility of the User to take
					precautions to ensure that whatever websites are clicked for use are free of viruses, bugs, problems
					or other issues.
				</p>
				<p class="mb-15">
					In any unwarranted event, the Sree Dharmashasta Ayyappa Religious Trust ® shall not be held liable
					to any party for any direct, indirect, consequential or specific damages including loss of data
					resulting from the use of any linked website. Every measure has been taken to smoothly run this
					website. However, the Sree Dharmashasta Ayyappa Religious Trust ® takes no responsibility for, and
					will not be liable for, the website being temporarily unavailable due to technical issues beyond its
					control.
				</p>
			</div>
		</div>
	</div>
{% endblock content %}
