{% extends 'site/templates/page.html' %}

{% block head %}
	<style>
        .navbar-top.navbar-dark {
            background-color: #17161A !important;
        }
	</style>
{% endblock head %}

{% block content %}
	<div class="content-wrap">
		<div class="pt-50 pb-70 footerPrev videoNext shape-parent overflow-hidden">
			<div class="container pt-50">
				<div class="row my-50">
					<div class="col-lg-6 offset-lg-3 text-center">
						<h3 class="m-0" data-show="startbox">{{ title }}</h3>
					</div>
				</div>
			</div>
			<div class="container">
				<p class="mb-10">
					The terms "We”/Charity Organization”/”Charitable Trust” individually and collectively refer to “Sree
					Dharmashasta Ayyappa Religious Trust ®” and the terms "Visitor” or "User” refer to
					<a href="https://www.kumbalgoduayyappatemple.org" target="_blank">
						https://www.kumbalgoduayyappatemple.org</a>website users.
				</p>
				<p>
					This page states the Terms and Conditions under which you (Visitor) may visit this website
					<a href="https://www.kumbalgoduayyappatemple.org" target="_blank">
						(https://www.kumbalgoduayyappatemple.org/)</a>. Please read this page carefully. If you do not
					accept the Terms and Conditions stated here, we would request you to exit this website. Sree
					Dharmashasta Ayyappa Religious Trust ® reserves the right to revise, amend or modify the policy
					entailed in this posting at any time and in any manner as it may deem fit. Any change or revision so
					effected will be posted on the website. It is therefore important that you shall review Terms &
					Conditions regularly to ensure you are updated as to any changes because they are binding on all
					users of this website.
				</p>
			</div>
		</div>
	</div>
{% endblock content %}
