{% extends 'site/templates/page.html' %}

{% block head %}
	<style>
        .navbar-top.navbar-dark {
            background-color: #17161A !important;
        }
	</style>
{% endblock head %}

{% block content %}
	<div class="content-wrap">
		<div class="pt-50 pb-70 footerPrev videoNext shape-parent overflow-hidden">
			<div class="container">
				<div class="row my-50">
					<div class="col-lg-6 offset-lg-3 text-center">
						<h3 class="m-0" data-show="startbox">
							<span class="highlight-lg">Become A Volunteer</span>
						</h3>
					</div>
				</div>
				<form id="form" class="animated" data-show="startbox" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;" autocomplete="off" novalidate>
					<div class="row gy-40">
						<div class="col-12 col-md-6 form-floating">
							<input class="form-control" name="name" type="text" placeholder="Full Name *" maxlength="128" required>
							<label class="form-floating-label">Full Name *</label>
						</div>
						<div class="col-12 col-md-6 form-floating">
							<input class="form-control" name="phone" type="integer" placeholder="Phone Number *" maxlength="10" data-mask="0000000000" required>
							<label class="form-floating-label">Phone Number *</label>
						</div>
						<div class="col-12 col-md-6 form-floating">
							<input class="form-control" name="occupation" type="text" placeholder="Occupation *" maxlength="64" required>
							<label class="form-floating-label">Occupation *</label>
						</div>
						<div class="col-12 col-md-6 form-floating">
							<input class="form-control" name="email" type="email" placeholder="Email" maxlength="128">
							<label class="form-floating-label">Email</label>
						</div>
						<div class="col-12 col-md-6 form-floating">
							<input class="form-control" name="identification" type="text" placeholder="Aadhaar/PAN" maxlength="14">
							<label class="form-floating-label">Aadhaar/PAN</label>
						</div>
						<div class="col-12 col-md-6 form-floating">
							<input class="form-control" name="age" type="integer" placeholder="Age" data-mask="00" maxlength="2">
							<label class="form-floating-label">Age</label>
						</div>
						<div class="col-12 form-floating">
							<textarea class="form-control" name="address" type="text" placeholder="Address" maxlength="512"></textarea>
							<label class="form-floating-label">Address</label>
						</div>
						<div class="col-12 col-md-6 form-floating">
							<input class="form-control" name="city" type="text" placeholder="City" maxlength="64">
							<label class="form-floating-label">City</label>
						</div>
						<div class="col-12 col-md-6 form-floating">
							<input class="form-control" name="pincode" type="integer" placeholder="Pincode" data-mask="000000" maxlength="6">
							<label class="form-floating-label">Pincode</label>
						</div>
						<div class="col-12 form-floating">
							<textarea class="form-control" name="comments" type="text" placeholder="Additional Comments" maxlength="512"></textarea>
							<label class="form-floating-label">Additional Comments</label>
						</div>
						<div class="col-12 col-lg-12 text-center">
							<button class="btn btn-accent-3 text-white">Send</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}

{% block body %}
	<script type="application/javascript" defer>
        $(document).on('submit', '#form', function (e) {
            e.preventDefault();

            $(this).find('.is-invalid').removeClass('is-invalid');
            let invalids = $(this).find('*:invalid');
            if (invalids.length > 0) {
                invalids.addClass('is-invalid')[0].reportValidity();
                return;
            }

            let data = {};
            $.each($(this).find(':input'), function (i, e) {
                if ($(e).attr('name')) {
                    data[$(e).attr('name')] = $(e).fval();
                }
            });

            $.ajax({
                data: JSON.stringify(data),
                contentType: "application/json",
                type: 'POST',
                url: '{{ url_for('api.admin.volunteer') }}',
            }).done(function (response, status, xhr) {
                location.reload();
            }).fail(function (xhr, status, e) {
                console.log(xhr);
                notyf.error(xhr.responseJSON.description);
            });
        });
	</script>
{% endblock body %}
