{% extends 'site/templates/page.html' %}

{% block head %}
	<style>
        .navbar-top.navbar-dark {
            background-color: #17161A !important;
        }
	</style>
{% endblock head %}

{% block content %}
	<div class="content-wrap">
		<div class="pt-50 pb-70 footerPrev videoNext shape-parent overflow-hidden">
			<div class="container">
				<div class="row my-50">
					<div class="col-lg-6 offset-lg-3 text-center">
						<h3 class="m-0" data-show="startbox">
							<span class="highlight-lg">What We Do</span>
						</h3>
					</div>
				</div>
			</div>
			<div id="education" class="container pt-50">
				<h4 class="mb-15">Education Support</h4>
				<p class="mb-10">
					Education is the only powerful mantra, not only changes once life but the next generations to come.
					INDIA today stands at 74% literacy rate, still below the world average of 84%. Most of us are
					privileged to get the best-in-class education, but this opportunity is still far sighted to many
					kids.
				</p>
				<p class="mb-10">Sree Dharmashasta Ayyappa Religious Trust ® selects remotest villages, poor colonies to
					support 1000
					Govt school /Differently abled/Orphan homes and provide them with school bags, slippers, stationary,
					Plates and glasses for the Mid-Day meals program, provide basic infrastructure- Fans, lights and
					drinking water etc, partner with other NGOs to provide college fees in special cases.
				</p>
				<p class="mb-10">
					Sree Dharmashasta Ayyappa Religious Trust ® are making a difference by continuing this journey for a
					better INDIA, where these kids will lead the country's future.
				</p>
			</div>
			<div id="health" class="container pt-50">
				<h4 class="mb-15">Health Support</h4>
				<p class="mb-10">
					Most Senior Citizens don't even go to hospital inspite of their old age aliments fearing doctors
					would ask more money. We identify and setup basic health camps for regular health/eye check-up and
					give them free medicines or link them with any hospital where Govt schemes are available.
				</p>
			</div>
			<div id="gaushala" class="container pt-50">
				<h4 class="mb-15">Gaushala Support</h4>
				<p class="mb-10">
					Gau Seva or taking care of cows has been an integral part of the Vedic culture and heritage. To
					protect and care for cows is considered as one of the most revered services.
					At Sree Dharmashasta Ayyappa Religious Trust ®, we have a Gaushala and presently taking care of 25
					cows.
				</p>
				<p class="mb-10">
					We have a team of well-trained and skilled staff dedicated to look after the herd. We provide:
				</p>
				<ul>
					<li>Quality fodder and regular supplements</li>
					<li>Clean and hygienic shelter</li>
					<li>Large field for cows to graze freely</li>
					<li>Routine medical check-up</li>
				</ul>
			</div>
			<div id="green" class="container pt-50">
				<h4 class="mb-15">Go Green Initiatives</h4>
				<p class="mb-10">
					Sree Dharmashasta Ayyappa Religious Trust ® aims to plant 1000 saplings every year, distribute clay
					Ganesha, Support awareness programs with Pachagavya trainings, Partner with like-minded NGOs to
					manufacture Cost Effective Jute bags for NGOs.
				</p>
			</div>
			<div id="homeless" class="container pt-50">
				<h4 class="mb-15">Homeless Support</h4>
				<p class="mb-10">
					In our country more than 15% people do have not shelter. They have no money to purchase their daily
					needs. For these people at the time of festivals we provide food, distribution of bed sheets. This
					support is given to 100’s of people by Sree Dharmashasta Ayyappa Religious Trust ® every year.
				</p>
			</div>
			<div id="annadanam" class="container pt-50">
				<h4 class="mb-15">Annadanam Support</h4>
				<p class="mb-10">
					Annam ParaBrahma Swaroopam - food is life, Annadanam is the highest form of seva in Santayana
					dharma. Sree Dharmashasta Ayyappa Religious Trust ® members celebrate their Birthdays in a unique
					way to support dharmic old ages homes/ orphan homes/ Satrams by sponsoring this event. We offer food
					packets to street homeless, old age people during Navaratri, Karthika Masam etc.
				</p>
			</div>
			<div id="veda" class="container pt-50">
				<h4 class="mb-15">Veda Pathashaala</h4>
				<p class="mb-10">
					Protecting and Restoring rural VedaPathasa, with infrastructure and Groceries
				</p>
			</div>
			<div id="saamuhika" class="container pt-50">
				<h4 class="mb-15">Saamuhika Pooja events</h4>
				<p class="mb-10">
					Sree Dharmashasta Ayyappa Religious Trust ® conducts "Saamuhika Pooja Events" during major festivals
					Sravana Masam, Dasara Navaratri, Kaarthika Maasam, Maha Sivaratri, Ugadi, Vinayaka Chavithi etc.
					Inspiring our women to practice our culture, educating on various challenges we face today, give us
					immense satisfaction.
				</p>
			</div>
		</div>
	</div>
{% endblock content %}
