{# --------- Example ---------
	table = {
		'name': 'user',
		'entries': User.by_role('user')|reverse,
		'attributes': {'data-api': url_for('api.admin.user')},
		'columns': {
			'Sl no.': {'export': False, 'orderable': False, 'merged': True},
			'Created': {'eval': 'obj.created.strftime("%d %b, %Y")', 'order': 'obj.created.strftime("%Y%m%d%H%M%S")', 'merged': True},
			'Id': {'eval': 'obj.uid', 'merged': True},
			'Email': {'eval': 'obj.email', 'link': 'f"mailto:{obj.email}"' 'merged': True},
			'A': {'eval': 'obj["a"]', 'sum': True},
			'B': {'eval': 'obj["b"]'},
			'Actions': {'actions': {'edit': {'icon':'uil-pen'}, 'delete': {'icon':'uil-trash'}}, 'export': False, 'orderable': False, 'merged': True},
		},
		'conditional_classes': {'obj.id > 7': 'bg-danger'}
		'nested': {'eval': 'obj.data', 'columns': ['A', 'B']},
	}
#}

{% macro render_table(table) %}
	<table id="{{ table.name }}Table" class="table" style="width:100%">
		<thead>
			<tr>
				{%- for column, properties in table.columns.items() %}
					<th class="{{ 'noExport' if not properties.get('export', True) else ''}}" {% if not properties.get('orderable', True) %}data-orderable="false"{% endif %}>
						{{- column -}}
					</th>
				{%- endfor %}
			</tr>
		</thead>
		<tbody>
			{%- for e in table.entries -%}
				{% set outer = loop %}
				{%- if table.get('nested') -%}
					{%- for o in e | eval(table.nested.eval) %}
						{{- render_row(table, outer.index0, e, loop.index0, o) -}}
					{%- endfor -%}
				{%- else -%}
					{{- render_row(table, outer.index0, e, 0, None) -}}
				{%- endif -%}
			{%- endfor -%}
		</tbody>
		{% if table.columns|index_by_attributes(sum=True) %}
			<tfoot>
				<tr>
					{% for column in table.columns %}
						<th>{% if loop.first %}Total{% endif %}</th>
					{% endfor %}
				</tr>
			</tfoot>
		{% endif %}
	</table>
{% endmacro %}

{% macro render_row(table, i, e, j, o) %}
	<tr id="{{ e.uid }}" class="{%- for cond, cls in table.get('conditional_classes', {}).items() if e|eval(cond) %}{{ cls }}{% endfor -%}" {% for attr, val in table.get('attributes', {}).items() %}{{ attr }}="{{ val }}" {% endfor -%}>

	{%- for column, properties in table.columns.items() %}
		{%- if column == 'Sl no.' %}
			<td>{{- i + 1 -}}</td>
		{%- elif column == 'Actions' %}
			<td class="noExport">
				<div class="d-flex justify-content-start align-items-center">
					{%- for action, action_properties in properties.actions.items() if e|eval(action_properties.get('condition', 'True')) %}
						<a class="{{ action }}Action mx-1 {{ action_properties.get('class', '') }}" href="{{ e | eval(action_properties.get('link', "'#'")) }}" title="{{ action | title }}" data-uid="{{ e.uid }}">
							<i class="{{ action_properties.icon }} fs-4"></i>
						</a>
					{%- endfor %}
				</div>
			</td>
		{%- else -%}
			{% if table.get('nested') and column in table.nested.columns %}{% set p = e %}{% set e = o %}{% endif %}
			<td {% if properties.get('order') %}data-order="{{ e | eval(properties.order) }}"{% endif %}>
				{%- if properties.get('link') %}
					<a href="{{ e|eval(properties.link) }}">{{- e | eval(properties.eval, p) -}}</a>
				{% else %}
					{{- e | eval(properties.eval, p) -}}
				{% endif -%}
			</td>
		{%- endif %}
	{%- endfor %}
	</tr>
{% endmacro %}
