<div class="navbar-custom">
	<ul class="list-unstyled topbar-menu float-end mb-0">
		<li class="dropdown notification-list d-none d-sm-inline-block" title="Your Website">
			<a class="nav-link" href="#" target="_blank" role="button">
				<i class="uil-globe noti-icon"></i>
			</a>
		</li>

		<li class="dropdown notification-list d-none d-sm-inline-block" title="Connections">
			<a aria-expanded="false" aria-haspopup="false" class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button">
				<i class="uil-apps noti-icon"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg p-0">
				<div class="p-2">
					<div class="row g-0">
						<div class="col">
							<a class="dropdown-icon-item" href="#" target="_blank">
								<i class="uil-facebook-f" style="font-size: x-large;"></i>
								<span>Facebook</span>
							</a>
						</div>
						<div class="col">
							<a class="dropdown-icon-item" href="#" target="_blank">
								<i class="uil-instagram" style="font-size: x-large;"></i>
								<span>Instagram</span>
							</a>
						</div>
						<div class="col">
							<a class="dropdown-icon-item" href="#" target="_blank">
								<i class="uil-youtube" style="font-size: x-large;"></i>
								<span>Youtube</span>
							</a>
						</div>
					</div>

					<div class="row g-0">
						<div class="col">
							<a class="dropdown-icon-item" href="#" target="_blank">
								<i class="uil-linkedin" style="font-size: x-large;"></i>
								<span>LinkedIn</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</li>

		<li class="dropdown notification-list">
			<a aria-expanded="false" aria-haspopup="false" class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button">
				<i class="uil-user noti-icon"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
				<a class="dropdown-item notify-item logout" href="#">
					<i class="uil-sign-out-alt me-1" style="font-size: 1.2rem;"></i>
					<span>Logout</span>
				</a>
			</div>
		</li>
	</ul>

	<button class="button-menu-mobile open-left" style="transform: rotate(90deg);">
		<i class="uil-analytics"></i>
	</button>
</div>