<!DOCTYPE html>
<html class="no-js" lang="en">
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		{% if config.PWA %}
			<meta content='yes' name='apple-mobile-web-app-capable'/>
			<meta content='yes' name='mobile-web-app-capable'/>
			<link rel="manifest" href="{{ url_for('manifest') }}">
		{% endif %}

		<title>Kumbalgodu Ayyappa Temple | {{ title }}</title>

		<link rel="icon" type="image/png" href="{{ url_for('static', filename='/media/logo-sm-dark.png') }}">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&amp;display=swap">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.css') }}">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome6.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/notyf.min.css') }}">

		<script type="application/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

		{% block head %}{% endblock head %}
	</head>
	<body>
		{% include 'site/templates/navbar.html' %}

		<div class="content-wrap">
			{% block content %}{% endblock content %}
		</div>

		{% include 'site/templates/footer.html' %}

		<!-- ========== External JS ============= -->

		<script type="text/javascript" nonce="{{ csp_nonce() }}">
            $.fn.fval = function () {
                let e = $(this);
                let t = e.attr('type');
                let v = e.val();
                if (t && v) {
                    if (t === 'text') {
                        return v.trim();
                    } else if (t === 'integer') {
                        return parseInt(v);
                    } else if (t === 'number') {
                        return parseFloat(v);
                    } else if (t === 'singleDate') {
                        return moment(v, 'Do MMM YYYY').valueOf();
                    } else if (t === 'checkbox') {
                        return v === 'on';
                    } else {
                        return v;
                    }
                } else return null;
            }

            function getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}");
                        xhr.setRequestHeader("X-CSRF-TOKEN", getCookie('csrf_access_token'));
                    }
                }
            });

            {% if config.PWA %}
                window.addEventListener('load', () => {
                    registerSW();
                });
                async function registerSW() {
                    if ('serviceWorker' in navigator) {
                        try {
                            await navigator.serviceWorker.register('{{ url_for('sw') }}');
                        } catch (e) {
                            console.log('SW registration failed');
                        }
                    }
                }
            {% endif %}
		</script>

		<script type="application/javascript" src="{{ url_for('static', filename='js/bootstrap-5.1.3.bundle.min.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/imagesloaded.pkgd.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/isotope.pkgd.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/jquery.countdown.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/ofi.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/jquery.inview.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/swiper-bundle.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/gist-embed.min.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/helpers.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/controllers/show-on-scroll.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/controllers/countdown.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/controllers/isotope.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/controllers/navbar.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/controllers/stretch-column.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/controllers/swiper.js') }}"></script>
		<script type="application/javascript" src="{{ url_for('static', filename='js/controllers/others.js') }}"></script>

		<script src="{{ url_for('static', filename='js/notyf.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.mask.min.js') }}"></script>

		{% block body %}
		{% endblock body %}
	</body>
</html>