{% extends 'dashboard/templates/table.html' %}

{% block content %}
	<div class="row">
		<div class="d-flex justify-content-between align-items-center">
			<div class="page-title-box">
				<h4 class="page-title">Events</h4>
			</div>
			<a class="btn btn-success" href="{{ url_for('dashboard.post') }}?type=event">
				<i class="uil-plus me-2"></i> Add
			</a>
		</div>
	</div>

	<div class="row">
		{% for post in Post.by_type('event') %}
			<div class="col-md-6 col-lg-4">
				<div class="card d-block">
					<img class="card-img-top" src="{{ post.media_urls[0] }}" style="object-fit: cover; max-height: 15rem">
					<div class="card-body p-2" style="height: 12rem; overflow: hidden">
						<h4 class="card-title">{{ post.title }}</h4>
						<h6 class="card-subtitle mb-2 text-muted">{{ post.last_updated.strftime("%d %b, %Y") }}</h6>
						<div class="content mt-2">
							{{ post.description }}
						</div>
					</div>
					<div class="card-footer text-muted d-flex justify-content-end p-1">
						<a class="editAction mx-1" href="{{ url_for('dashboard.post', uid=post.uid) }}" title="edit" data-uid="{{ post.uid }}">
							<i class="uil-pen fs-4"></i>
						</a>
						<a class="deleteAction text-danger mx-1" href="#" title="delete" data-uid="{{ post.uid }}">
							<i class="uil-trash-alt fs-4"></i>
						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}