{% extends 'dashboard/templates/table.html' %}

{% block head %}
	<link href="{{ url_for('static', filename='css/quill.snow.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ url_for('static', filename='css/dropzone.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock head %}


{% block content %}
	<div class="row">
		<div class="d-flex justify-content-between align-items-center">
			<div class="page-title-box">
				<h4 class="page-title">Pooja Page</h4>
			</div>
		</div>
	</div>

	<div class="input-group mb-3">
		<label class="input-group-text">Pooja</label>
		<select id="poojaSelect" class="form-select">
			<option selected disabled value="">Please Select</option>
			{% for pooja in Pooja.all() %}
				<option value="{{ pooja.uid }}">{{ pooja.temple }} - {{ pooja.name }}</option>
			{% endfor %}
		</select>
	</div>

	<form id="addEditForm" class="d-none" autocomplete="off">
		<hr>
		<div class="row">
			<div class="col-12 mt-2">
				<div class="input-group">
					<span class="input-group-text">Description</span>
					<textarea class="form-control" type="text" name="description" required></textarea>
				</div>
			</div>

			<div class="col-12 mt-2">
				<h3>Image</h3>
				<div class="dropzone" id="galleryUpload">
					<div class="dz-message" data-dz-message>
						<i class="uil-image-v" style="font-size: 60px;"></i>
						<br>
						<span style="font-size:large">Drop images here or click to upload</span>
					</div>
				</div>
			</div>

			<div class="col-12 mt-2">
				<div class="input-group responsive-input">
					<span class="input-group-text">Link</span>
					<input class="form-control" name="link" type="text" style="flex: 8">
				</div>
			</div>

			<div class="col-12 mt-2 d-flex justify-content-center">
				<button id="submitBtn" type="submit" class="btn btn-success btn-lg m-1">
					<div id="submitSpinner" class="spinner-border spinner-border-sm d-none" role="status"></div>
					{{ 'Submit' if post else 'Save' }}
				</button>
			</div>

		</div>
	</form>

{% endblock content %}


{% block body %}
	<script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>

	{# Add/Edit #}
	<script type="application/javascript">
        let poojaSelect = $('#poojaSelect');
        let form = $("#addEditForm");
        let galleryUpload = $('#galleryUpload');
        let submitBtn = $("#submitBtn");
        let submitSpinner = $("#submitSpinner");
        let editUid = {% if post %}'{{ post.uid }}'{% else %} null {% endif %};

        function initializeSpecialInputs() {
            Dropzone.options.galleryUpload = {
                url: '/',
                autoProcessQueue: false,
                uploadMultiple: true,
                paramName: "file",
                parallelUploads: 5,
                maxFiles: 1,
                maxFilesize: 10,
                acceptedFiles: '.png,.jpg,',
                addRemoveLinks: true,
            }
        }

        initializeSpecialInputs();

        poojaSelect.on('change', function () {
            editUid = $(this).val();
            $.ajax({
                type: 'GET',
                url: `{{ url_for('api.admin.pooja') }}${editUid}/`,
                contentType: 'application/json',
            }).done(function (response, status, xhr) {
                form.removeClass('d-none');
                $.each(response.data, function (k, v) {
                    form.find('[name=' + k + ']').val(v);
                });
                galleryUpload[0].dropzone.removeAllFiles(true);
                $.each(response.data.media, function (i, image) {
                    const mockFile = {name: image, size: 0, accepted: true, mock: true}
                    galleryUpload[0].dropzone.displayExistingFile(mockFile, `/static/uploads/{{ Pooja.UPLOADS_PATH }}/` + image);
                    galleryUpload[0].dropzone.files.push(mockFile);
                });
            }).fail(function (xhr, status, e) {
                console.log(xhr);
                notyf.error(xhr.responseJSON.description);
            });
        });

        form.on('submit', function (e) {
            e.preventDefault();

            $(this).find('.is-invalid').removeClass('is-invalid');
            let invalids = $(this).find('*:invalid');
            if (invalids.length > 0) {
                invalids.addClass('is-invalid')[0].reportValidity();
                return;
            }
            if (galleryUpload[0].dropzone.getAcceptedFiles().length === 0) {
                galleryUpload.addClass('is-invalid');
                return;
            }

            submitBtn.prop('disabled', true);
            submitSpinner.removeClass('d-none');

            let data = new FormData();
            $.each($(this).find(':input'), function (i, e) {
                if ($(e).attr('name')) {
                    data.append($(e).attr('name'), $(e).fval());
                }
            });

            let retained = [];
            $.each($('#galleryUpload')[0].dropzone.getAcceptedFiles(), function (i, file) {
                file.mock ? retained.push(file.name) : data.append(`gallery_${i}`, file);
            });
            data.append('retained', JSON.stringify(retained))

            $.ajax({
                data: data,
                type: 'PUT',
                url: `{{ url_for('api.admin.pooja') }}${editUid}/`,
                contentType: false,
                processData: false,
            }).done(function (response, status, xhr) {
                location.reload();
            }).fail(function (xhr, status, e) {
                console.log(xhr);
                notyf.error(xhr.responseJSON.description);
                submitBtn.prop('disabled', false);
                submitSpinner.addClass('d-none');
            });
        });
	</script>
{% endblock body %}