{% extends 'dashboard/templates/table.html' %}

{% set table = {
	'name': 'settings',
	'entries': Setting.all(),
	'attributes': {},
	'columns': {
		'Sl no.': {},
		'Name': {'val': '{{ e.key|title }}'},
		'Value': {'val': '{{ e.value }}'},
		'Actions': {'actions': {'edit': {'icon':'uil-pen'}}, 'export': False, 'orderable': False},
	},
} %}

{% block content %}
	<div class="row">
		<div class="d-flex justify-content-between align-items-center">
			<div class="page-title-box">
				<h4 class="page-title">Settings</h4>
			</div>
		</div>
	</div>

	<div class="card card-body">
		{{ macros.render_table(table) }}
	</div>

	<div id="addEditModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="edit modal-title">Edit Settings</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-3">
					<form id="addEditForm" autocomplete="off" novalidate>
						<div class="row">
							<div class="col-lg-12">
								<div class="input-group mb-2">
									<span class="input-group-text fw-bold">Value</span>
									<input class="form-control" name="value" type="text" required>
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-end">
							<button id="submitBtn" type="submit" class="btn btn-primary m-1">
								<div id="submitSpinner" class="spinner-border spinner-border-sm d-none" role="status"></div>
								Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block body %}
	{{ super() }}

	{# Datatable #}
	<script type="application/javascript" defer>
        const {{ table.name }}Table = $("#{{ table.name }}Table").DataTable({
            language: {
                paginate: {previous: "<i class='uil-angle-left'>", next: "<i class='uil-angle-right'>"},
                info: "Showing _START_ to _END_ of _TOTAL_",
                lengthMenu: 'Show <select class=\'form-select form-select-sm ms-1 me-1\'><option value="25">25</option><option value="50">50</option><option value="75">75</option><option value="-1">All</option></select>',
            },
            pageLength: 25,
            order: [],
            ordering: true,
            responsive: false,
            scrollX: true,
            stateSave: false,
            drawCallback: function () {
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
            },
            footerCallback: function () {
                let api = this.api();
                $.each({{ table.columns|index_by_attributes(sum=True) }}, function (i, e) {
                    let nodes = api.column(e, {page: 'current', search: 'applied'}).nodes().toArray();
                    let sum = 0;
                    $.each(nodes, function (j, n) {
                        sum += $(n).hasClass('noExport') ? 0 : parseFloat($(n).text().replaceAll(/[^\d.-]/g, ''));
                    });
                    $(api.column(e).footer()).text(sum.toLocaleString('en-IN'));
                });
            },
            columnDefs: [
                {targets: '_all', type: 'natural-nohtml'},
                {
                    targets: {{ table.columns|index_by_attributes(inr=True) }}, render: (d, _, __) => {
                        return Number(d).toLocaleString('en-IN')
                    }
                }
            ],
            buttons: [
                {extend: 'copyHtml5', title: '{{ title }}', footer: true, exportOptions: exportOptions},
                {extend: 'excelHtml5', title: '{{ title }}', footer: true, exportOptions: exportOptions},
                {
                    extend: 'pdfHtml5', title: '{{ title }}', footer: true, exportOptions: exportOptions,
                    download: 'open', orientation: 'landscape',
                    customize: function (doc) {
                        doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    }
                },
            ],
            {% set mergedColumns = table.columns|index_by_attributes(merged=True) %}
            {% if mergedColumns %}
                rowsGroup: {{ mergedColumns }},
            {% endif %}
            keys: {keys: [37, 38, 39, 40], clipboard: false},
        });
        {{ table.name }}Table.buttons().container().appendTo("#{{ table.name }}ButtonContainer");
        $('.buttons-copy').html('<i class="uil-pathfinder"></i> Copy').removeClass('btn-secondary').addClass('btn-light ms-1');
        $('.buttons-excel').html('<i class="uil-download-alt"></i> Export').removeClass('btn-secondary').addClass('btn-light ms-1');
        $('.buttons-pdf').html('<i class="uil-file-alt"></i> PDF').removeClass('btn-secondary').addClass('btn-light ms-1');

        {{ table.name }}Table.on('key-focus.dt', (e, dt, cell) => {
            $(dt.row(cell.index().row).node()).addClass('selected')[0].scrollIntoView({behavior: 'smooth', block: 'center'});
        });
        {{ table.name }}Table.on('key-blur.dt', (e, dt, cell) => {
            $(dt.row(cell.index().row).node()).removeClass('selected');
        });
	</script>

	{# Add/Edit #}
	<script type="application/javascript" defer>
        let modal = $("#addEditModal");
        let form = $("#addEditForm");
        let submitBtn = $("#submitBtn");
        let submitSpinner = $("#submitSpinner");
        let editUid = null;

        $(document).on('click', '.editAction', function () {
            editUid = $(this).data('uid');
            $('.edit').removeClass('d-none');

            $.ajax({
                type: 'GET',
                url: `{{ url_for('api.admin.settings') }}${editUid}/`,
                contentType: 'application/json',
            }).done(function (response, status, xhr) {
                $.each(response.data, function (k, v) {
                    form.find('[name=' + k + ']').val(v);
                });
                modal.modal('show');
            }).fail(function (xhr, status, e) {
                console.log(xhr);
                notyf.error(xhr.responseJSON.description);
            });
        });

        form.on('submit', function (e) {
            e.preventDefault();

            $(this).find('.is-invalid').removeClass('is-invalid');
            let invalids = $(this).find('*:invalid');
            if (invalids.length > 0) {
                invalids.addClass('is-invalid')[0].reportValidity();
                return;
            }

            submitBtn.prop('disabled', true);
            submitSpinner.removeClass('d-none');

            let data = {};
            $.each($(this).find(':input'), function (i, e) {
                if ($(e).val()) {
                    data[$(e).attr('name')] = $(e).fval();
                }
            });

            $.ajax({
                data: JSON.stringify(data),
                type: 'PUT',
                url: `{{ url_for('api.admin.settings') }}${editUid}/`,
                contentType: 'application/json',
            }).done(function (response, status, xhr) {
                location.reload();
            }).fail(function (xhr, status, e) {
                console.log(xhr);
                notyf.error(xhr.responseJSON.description);
                submitBtn.prop('disabled', false);
                submitSpinner.addClass('d-none');
            });
        });

        modal.on('shown.bs.modal', function () {
            form.find(':input').first().focus();
        })

        modal.on('hide.bs.modal', function () {
            form.trigger('reset').find(':input').removeClass('is-invalid');
            initializeSpecialInputs();
            submitBtn.prop('disabled', false);
            submitSpinner.addClass('d-none');
        });
	</script>
{% endblock body %}